<section id="multiple-validation" class ="basic-select">
    <div class="row">
        <!-- Import Pallet -->
        <div class="col-md-6">
            <form [formGroup]="ReactiveUserDetailsForm" (ngSubmit)="ReactiveUDFormOnSubmit()">
                <core-card-snippet [snippetCode]="_snippetCodeReactiveForms">
                    <h4 class="card-title">Import Pallet</h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="UDRejectPallet" class="d-block mb-1">Reject Pallet</label>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="yes" value="true" name="rejectpallet"
                                            class="custom-control-input" (change)="changeRejectPallet()"
                                            formControlName="rejectpallet" />
                                        <label class="custom-control-label" for="yes">Yes</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="no" value="false" name="rejectpallet"
                                            class="custom-control-input" (change)="changeRejectPallet()"
                                            formControlName="rejectpallet" />
                                        <label class="custom-control-label" for="no">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="UDPalletNumber">Pallet Number</label>     
                                    <ng-select [items]="palletCode" formControlName="palletnumber"
                                     bindLabel="name" [loading]="selectPalletLoading"
                                     (change)="changPalletNumber()"
                                     > </ng-select>             
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="UDPalletQuantity">Pallet Quantity</label>
                                    <input type="number" id="UDPalletQuantity" 
                                        formControlName="palletquantity"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.palletquantity.errors }" />
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.palletquantity.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.palletquantity.errors.required">Pallet
                                            Quantity is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="UDGrade">Grade</label>
                                    <select id="UDGrade" formControlName="grade" class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.grade.errors }">
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        <option value="D">D</option>
                                        <option value="E">E</option>
                                        <option value="F">F</option>
                                        <option value="G">G</option>
                                    </select>
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.grade.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.grade.errors.required">Grade is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="UDJobNumber">Job Number</label>
                                    <input type="text" id="UDJobNumber" formControlName="jobnumber" class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.jobnumber.errors }" />
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.jobnumber.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.jobnumber.errors.required">Job Nunber is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="UDJobName">Job Name</label>
                                    <input type="text" id="UDJobName" formControlName="jobname" class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.jobname.errors }" />
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.jobname.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.jobname.errors.required">Job Name is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="UDJobQuantity">Job Quantity</label>
                                    <input type="text" id="UDJobQuantity" formControlName="jobquantity"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.jobquantity.errors }" />
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.jobquantity.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.jobquantity.errors.required">Job Quantity is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="UDFNumber">F Number</label>
                                    <select id="UDFNumber" formControlName="fnumber" class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.fnumber.errors }">
                                        <option *ngFor="let fNumber of fNumber" [value]="fNumber">{{fNumber}}
                                        </option>
                                    </select>
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.fnumber.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.fnumber.errors.required">F Number is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="UDDelta">Delta</label>
                                    <input type="text" id="UDDelta" formControlName="delta" class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.delta.errors }" />
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.delta.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.delta.errors.required">Delta Quantity is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="UDChecker">Checker</label>
                                    <input type="text" id="UDChecker" formControlName="checker" class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.checker.errors }" />
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.checker.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.checker.errors.required">Checker Quantity is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="UDRemark">Remark</label>
                                    <input type="text" id="UDRemark" formControlName="remark" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </core-card-snippet>
            </form>
        </div>
        <!-- Inspection Information -->
        <div class="col-md-6">
            <form [formGroup]="ReactiveUserDetailsForm" (ngSubmit)="ReactiveUDFormOnSubmit()">
                <core-card-snippet [snippetCode]="_snippetCodeReactiveForms">
                    <h4 class="card-title">Inspection Information</h4>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="UDDate">Date</label>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="Basic Date Picker"
                                            formControlName="date" ngbDatepicker #basicDP="ngbDatepicker"
                                            [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.date.errors }"
                                            (dateSelect)="changDate()"
                                            />
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary feather icon-calendar"
                                                (click)="basicDP.toggle();" type="button" rippleEffect></button>
                                        </div>
                                        <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.date.errors"
                                            class="invalid-feedback">
                                            <div *ngIf="ReactiveUDForm.date.errors.required">Date is
                                                required</div>
                                        </div>                                     
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="UDWaste">Waste</label>
                                    <input type="text" id="UDWaste" formControlName="waste" class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.waste.errors }" />
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.waste.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.waste.errors.required">Waste is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="UDBatch">Batch</label>
                                    <select id="UDBatch" formControlName="batch" class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.batch.errors }"
                                        (change)="changBatch()">
                                        <option *ngFor="let batch of batchList" [value]="batch">{{batch}}
                                        </option>
                                        <!-- <option value="USA">USA</option>
                                        <option value="Germany">Germany</option>
                                        <option value="Russia">Russia</option>
                                        <option value="UK">UK</option> -->
                                    </select>
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.batch.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.batch.errors.required">Batch is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="UDBlack">Black</label>
                                    <input type="text" id="UDBlack" formControlName="black" class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.black.errors }" />
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.black.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.black.errors.required">Black is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="UDInspectQuantity">Inspect Quantity</label>
                                    <input type="text" id="UDInspectQuantity" formControlName="inspectquantity"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.inspectquantity.errors }" />
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.inspectquantity.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.inspectquantity.errors.required">Inspect Quantity
                                            Quantity is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="UDColor">Color</label>
                                    <input type="text" id="UDColor" formControlName="color" class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.color.errors }" />
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.color.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.color.errors.required">Color Quantity is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="UDAcceptedQuantity">Accepted Quantity</label>
                                    <input type="text" id="UDAcceptedQuantity" formControlName="acceptedquantity"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.acceptedquantity.errors }" />
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.acceptedquantity.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.acceptedquantity.errors.required">Accepted Quantity
                                            Quantity is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="UDWhite">White</label>
                                    <input type="text" id="UDWhite" formControlName="white" class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.white.errors }" />
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.white.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.white.errors.required">White is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="UDRejectedQuantity">Rejected Quantity</label>
                                    <input type="text" id="UDRejectedQuantity" formControlName="rejectedquantity"
                                        class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.rejectedquantity.errors }" />
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.rejectedquantity.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.rejectedquantity.errors.required">Rejected Quantity
                                            Quantity is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="UDMeasure">Measure</label>
                                    <input type="text" id="UDMeasure" formControlName="measure" class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.measure.errors }" />
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.measure.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.measure.errors.required">Measure Quantity is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="UDPickOut">Pick Out</label>
                                    <input type="text" id="UDPickOut" formControlName="pickout" class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.pickout.errors }" />
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.pickout.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.pickout.errors.required">Measure Quantity is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="UDMarkError">Mark Error</label>
                                    <input type="text" id="UDMarkError" formControlName="markerror" class="form-control"
                                        [ngClass]="{ 'is-invalid': ReactiveUDFormSubmitted && ReactiveUDForm.markerror.errors }" />
                                    <div *ngIf="ReactiveUDFormSubmitted && ReactiveUDForm.markerror.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="ReactiveUDForm.markerror.errors.required">Mark Error Quantity is
                                            required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <button class="btn btn-primary btn-block" rippleEffect>Register</button>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <a (click)="cancelClick()" class="btn btn-warning btn-block" rippleEffect>Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </core-card-snippet>
            </form>
        </div>
    </div>
</section>